@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Rubik+Scribble&family=Signika:wght@500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Rubik+Scribble&family=Signika:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    text-shadow: 0px 10px 10px rgb(56, 0, 9);

    font-size: 30px;
    font-weight: 900;
    background:url("blurry-gradient-haikei.png");
    background-repeat: no-repeat;
    background-size:cover;
    color: rgb(255, 49, 186);
 
}
p{
  padding: 4%;
  text-align: justify;
}


span{
    letter-spacing: 10px;
    color:rgb(255, 255, 255);
    font-weight: 900;
    font-size:40px ;
}
footer{
 
  font-size: medium;
  background-color: rgb(0, 15, 32);
  padding: 2%;
}
.info{
    padding: 20%;
}
li{
  padding: %;
}
button{
    /* border: none; */
    padding: 3%;
    background-color: transparent;
    border-style: groove;
    border-color:rgb(255, 255, 255) ;
 
    border-radius: 10px;
    font-weight: 900;
    margin-top: 5%;
    text-decoration: none;
    box-shadow: 0px 0px 10px 10px rgb(136, 1, 255);
}
a{
  
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-shadow: 0px 0px 10pxrgb(0, 0, 0);
}
button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 10px rgb(1, 247, 255);
}

